.login-container {
  background-image: url('../../../public/assets/auth-background.webp'); /* 이미지 파일 경로로 수정 */
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* 텍스트 색상을 백그라운드 이미지와 대조되게 설정 */
  }